
$light-blue: #51A1D4;
$blue: #0987BF;
$dark-blue: #0B67A2;
$turquoise: #3CC5E7;
$gray: #4D5E5E;


$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

